* {
    padding: 0;
    margin: 0;
}

body {
    /* background-color: green; */
    font-size: 16px;
}

.main {
    overflow: auto;
    height: 100vh;
    width: 100vw;
}

.game {
    height: 100vh;
    width: 100vw;
    /* margin: 2em; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info {
    flex: 1;
}

.info ul.rule {
    font-size: 1em;
    text-align: center;
    max-width: 10em;
    margin: auto;
}

.info p {
    text-align: center;
    font-size: 2em;
}

.info input {
    font-size: 2rem;
    display: inline-block;
    width: 3em;
}

.board {
    /* margin: 5em auto; */
    /* max-height: 90vh; */
    max-width: 70vw;
    max-height: 95vh;
    
    border: 3px solid red;
    /* overflow-wrap: break-word; */
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;  
    /* flex-wrap: wrap;   */
    /* flex-wrap: wrap; 设置这个的话，只有横向滚动条，没有纵向滚动条！！！*/

    background-color: black;
}

.cell-row {
    display: flex;
    margin-left:auto;
    flex-shrink: 1;
}

/* .cell:nth-child(odd) {
    background-color: #659800;
} */

.cell {
    height: 2em;
    width: 2em;
    box-sizing: border-box;
    border: 1px gray solid;
    background-clip: border-box;
    cursor: crosshair;
}

.cell p {
    font-size: 1.5em;
    line-height: 1.1em;
    text-align: center;
    cursor: crosshair;
}

.cell:hover {
    border: 2px white solid;
}


.bg-1 {
    /* background-color: #b8d284; */
    background-color: #7ba035;
}

.bg-2 {
    background-color: #8bd751;
}

.bg-visible {
    background-color: #d7b899;
}


.n-1 {
    color: #1976d2;
}

.n-2 {
    color: #388e3c;
}

.n-3 {
    color: #d44943;
}

.n-4 {
    color: #7b1fa2;
}

.n-5 {
    color: black;
}

.n-6 {
    color: yellow;
}

.n-7 {
    color: red;
}

.n-8 {
    color: white;
}

.mess {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

}

.mess p {
    font-size: 4em;
    text-align: center;
    color: gold;
    background-color: #8bd751;
}

.mess .fail {
    color: rgb(166, 34, 34);
    background-color: gray;

}

.mess button {
    font-size: 4em;
}