<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>扫雷</title>
    <script src="./js/vue.global.js"></script>
    <script src="./js/seedrandom.min.js"></script>
    <script src="./js/howler.min.js"></script>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main">
        <div class="game" id="game">
            <div v-if="isGameOver" class="mess">
                <p v-if="isSuccess">成功</p>
                <p class="fail" v-else>WASTED</p>
                <button @click="restartGame">再来一把</button>
            </div>
            <div class="info">
                <p>剩余</p>
                <p>🚩{{ flagCount }}</p>
            </div>
            <div class="board">
                <div class="cell-row" v-for="(cellRow, rIdx) in boardArr">
                    <div class="cell" @click.right.prevent="placeFlag(rIdx, cIdx)" @click="checkCell(rIdx, cIdx)" :class="[initCellClass(rIdx, cIdx),{'bg-visible': visibleArr[rIdx][cIdx]}]" v-for="(cell, cIdx) in cellRow">
                        <p style="text-align: center; color: yellow;" v-if="!isGameOver"><span v-if="flagArr[rIdx][cIdx] && false === visibleArr[rIdx][cIdx]">🚩</span></p>
                        <p v-if="isNaN(boardArr[rIdx][cIdx]) && isGameOver && false === visibleArr[rIdx][cIdx]" style="text-align: center; color: yellow;">
                            💣</p>
                        <p v-if="isNaN(boardArr[rIdx][cIdx]) && visibleArr[rIdx][cIdx]" style="text-align: center; color: red;">💣</p>
                        <p :class="'n-'+boardArr[rIdx][cIdx]" v-if="visibleArr[rIdx][cIdx]" style="text-align: center;">
                            <span v-if="boardArr[rIdx][cIdx] > 0">{{ boardArr[rIdx][cIdx] }}</span></p> 
                    </div>
                </div>
            </div>
            <div class="info">
                <p>行数：<input type="number" v-model="row"></p>
                <p>列数：<input type="number" v-model="col"></p>
                <p>自定义 💣：<input  type="number" v-model="mineCount"></p>
                <p>自定义随机种子：<input type="number" v-model="seed"></p>
            </div>
        </div>
    </div>
    <script src="./js/app.js"></script>
</body>

</html>