* {
    margin: 0;
    padding: 0;
}

html {
    background-color: gray;
}

.highlight-span {
    color: red;
}

input {
    width: 3em;
}

input:focus {
    color: white;
    background-color: red;
}

p input, label {
    font-size: calc(100vw / 25);
}

#assignment {
    max-width: 100vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em auto;
    color: white;
    background-color: black;
    border: 3px solid #f5f5d5;
}

button {
    width: 80vw;
    padding: 0.1em 1em;
    border-radius: 8px;
    font-size: calc(100vw / 16);
    border: 0;
    margin: .2em;
    color: white;
    background-color: red;
}


button:active {
    color: red;
    background-color: black;
}

#problems {
    max-width: 100vw;
    width: 100%;
    display: grid;
    border: 3px solid #f5f5d5;
}

.single-column {
    font-size: calc(100vw / 15);
    grid-template-columns: 1fr;
}

.problem-content {
    padding: 0 1em;
}

.two-column {
    font-size: calc(100vw / 30);
    grid-template-columns: 1fr 1fr;
}

.useless label, .useless input {
    font-size: calc(100vw / 40);
}